/*
Theme Name: SUNYIT Interface
Description: Theme for SUNYIT Interface magazine
Author: Zac Wasielewski
Template: journalcrunch
Version: 0.1
*/

@import url("../journalcrunch/style.css");

a,a:link,a:visited{
	color: #17568a;
	color: rgb(0,71,145);
}

#mainWrapper {
	background-image:none;
	border-top: 200px solid rgb(0,84,145);
}

#header {
	margin-top: -200px;
}

#content {
	margin-top:35px;
}

#footer {
	text-align: center;
	font-weight: bold;
}

#logo {
	top:30px;
	left: 50%;
	margin-left: -480px;
}

#logo a img{
	position:absolute;
}

#topSearch {
	right:5px;
	top:68px;
}

#topSearch input[type="text"] {
	width:180px;
	padding:5px 10px 5px;
}

h1{
	font-size: 2.5em;
	font-family: helvetica, arial, sans-serif;
	line-height: 1.25em;
	font-weight: 600;
	color: #444;
}

h2{
}

#content .postBox .postBoxInner h2 {
	font-family: helvetica, arial, sans-serif;
	line-height: 1.25em;
	font-weight: 600;
	color: #444;
}

#content #singlePost div.wp-caption {
	padding: 10px;
	border: none;
	background: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#content #singlePost img {
	background: #ffffff;
}
#content #singlePost img.alignleft,
#content #singlePost img.alignright{
	margin-top: 0;
}
#content #singlePost div.wp-caption img {
	padding: 0;
	border: none;
	background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
}
#content #singlePost div.wp-caption p.wp-caption-text {
	margin: 10px 0 5px 0;
}

h2.current-header,
h2.archives-header{
	padding: 0 0 .75em 0;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: helvetica, arial, sans-serif;
	line-height: 1.25em;
	font-weight: 600;
	color: rgb(145,160,165);
	text-align: center;
	margin: 0 0 1em 0;
	background: url(../journalcrunch/images/bk_dotted_big.png) 0 100% repeat-x;
}

hr{
	clear: both;
	visibility: hidden;
}

#archives{
	margin-top: 3em;
	margin-bottom: 3em;
	clear: both;
	width: 1002px;
}
#archives ul{
	list-style-type: none;
}
#archives ul li{
	float: left;
	margin: 0 42px 21px 0;
	width: 124px;
	text-shadow: none;
	text-align: center;
}

#archives ul li a{
	background-color: #fff;
	padding: 6px 0;
	display: block;
	font-weight: bold;
border: 8px solid #F7F9F9;
background: #F7F9F9;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
}
